# Series・DataFreameの作成(1)

In [1]:
# Pandasの読み込み
import pandas as pd
# Seriesの作成（リストから）
l = [1,2,3,4,5]
s = pd.Series(l)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Series・DataFreameの作成(2)

In [2]:
# DataFrameの作成（2個のリストから）
m = [
    [1, "yamada", "taro", "man"],
    [2, "yamada", "hanako", "woman"],
    [3, "suzuki", "ichiro", "man"],
    [4, "suzuki", "jiro", "man"],
    [5, "suzuki", "saburo", "man"]
]
names = ["id", "family_name","first_name","gender"]
# columns引数でカラム名を指定できる
name_df = pd.DataFrame(m, columns=names)
name_df

   id family_name first_name gender
0   1      yamada       taro    man
1   2      yamada     hanako  woman
2   3      suzuki     ichiro    man
3   4      suzuki       jiro    man
4   5      suzuki     saburo    man

変なカンマを入れると、カーネルが落ちる＞＜
m = [...],
最後にカンマをいれたら落ちた＞＜

# Series・DataFreameの作成(3)

In [3]:
# DataFrameの作成（ディクショナリから）
d = {
    "id":[1,2,3,4,5],
    "is_smoking":[True, False, True, False, True],
    "gender":["m", "m","m","f","f"]
}

names = ["id", "is_smoking", "gender"]
# columns引数で、カラムの順番を指定できる
# 指定しないと順番は保証されない
smoking_df = pd.DataFrame(d, columns=names)
smoking_df

   id  is_smoking gender
0   1        True      m
1   2       False      m
2   3        True      m
3   4       False      f
4   5        True      f

# ・Series形式で読み込み（1カラムのみの場合）

In [4]:
# n行×1列のデータをSeries形式で読み込む
#header がなければNoneを指定する
s = pd.read_csv("02_10000values.csv", header=None, squeeze = True)

In [5]:
s

0       2929.036961
1       1000.871725
2       2279.805621
3        869.819097
4        148.830232
5         68.313429
6       1118.762486
7       1219.280572
8        211.121933
9       1069.375380
10       459.170816
11       323.879142
12      3311.944922
13       720.787919
14      1439.858844
15        83.114391
16       572.792481
17      1006.287394
18       707.730338
19       174.403137
20      1165.939488
21       917.731148
22       250.099728
23      1581.703373
24       307.129097
25       538.717008
26      2766.207395
27       131.034383
28       530.603635
29      3012.730214
           ...
9970     410.212486
9971     636.560701
9972    1333.039763
9973    1476.151165
9974    1555.641303
9975     617.976057
9976    2249.669087
9977     151.098883
9978    1322.266456
9979     581.035676
9980     551.117172
9981    2120.786599
9982     481.246709
9983    1349.508897
9984     126.350962
9985     737.781977
9986     770.196256
9987    2521.833165
9988    1126.628400
9989     363.350424
9990    1217.742135
9991     490.682515
9992     772.455777
9993     545.735049
9994     142.719959
9995     317.584517
9996     246.040776
9997      86.934200
9998    2267.920726
9999     254.268587
Name: 0, Length: 10000, dtype: float64

# ・DataFrame形式で読み込み(2カラム以上の場合)

In [6]:
# n行×m列のデータをDataFrame形式で読み込む
# sep: 区切り文字の指定。　デフォルトは","
df = pd.read_csv("03_iris.csv", sep=",")

In [7]:
df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
5            5.4         3.9          1.7         0.4     Iris-setosa
6            4.6         3.4          1.4         0.3     Iris-setosa
7            5.0         3.4          1.5         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
9            4.9         3.1          1.5         0.1     Iris-setosa
10           5.4         3.7          1.5         0.2     Iris-setosa
11           4.8         3.4          1.6         0.2     Iris-setosa
12           4.8         3.0          1.4         0.1     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
16           5.4         3.9          1.3         0.4     Iris-setosa
17           5.1         3.5          1.4         0.3     Iris-setosa
18           5.7         3.8          1.7         0.3     Iris-setosa
19           5.1         3.8          1.5         0.3     Iris-setosa
20           5.4         3.4          1.7         0.2     Iris-setosa
21           5.1         3.7          1.5         0.4     Iris-setosa
22           4.6         3.6          1.0         0.2     Iris-setosa
23           5.1         3.3          1.7         0.5     Iris-setosa
24           4.8         3.4          1.9         0.2     Iris-setosa
25           5.0         3.0          1.6         0.2     Iris-setosa
26           5.0         3.4          1.6         0.4     Iris-setosa
27           5.2         3.5          1.5         0.2     Iris-setosa
28           5.2         3.4          1.4         0.2     Iris-setosa
29           4.7         3.2          1.6         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
120          6.9         3.2          5.7         2.3  Iris-virginica
121          5.6         2.8          4.9         2.0  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
123          6.3         2.7          4.9         1.8  Iris-virginica
124          6.7         3.3          5.7         2.1  Iris-virginica
125          7.2         3.2          6.0         1.8  Iris-virginica
126          6.2         2.8          4.8         1.8  Iris-virginica
127          6.1         3.0          4.9         1.8  Iris-virginica
128          6.4         2.8          5.6         2.1  Iris-virginica
129          7.2         3.0          5.8         1.6  Iris-virginica
130          7.4         2.8          6.1         1.9  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica
132          6.4         2.8          5.6         2.2  Iris-virginica
133          6.3         2.8          5.1         1.5  Iris-virginica
134          6.1         2.6          5.6         1.4  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
136          6.3         3.4          5.6         2.4  Iris-virginica
137          6.4         3.1          5.5         1.8  Iris-virginica
138          6.0         3.0          4.8         1.8  Iris-virginica
139          6.9         3.1          5.4         2.1  Iris-virginica
140          6.7         3.1          5.6         2.4  Iris-virginica
141          6.9         3.1          5.1         2.3  Iris-virginica
142          5.8         2.7          5.1         1.9  Iris-virginica
143          6.8         3.2          5.9         2.3  Iris-virginica
144          6.7         3.3          5.7         2.5  Iris-virginica
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

データの出力

In [8]:
df.to_csv(
    "df_updated.csv",           #ファイルのパス
    sep=",",                          # 区切り文字
    header=True,                 # header行を出力するかどうか
    index=False,                   # index列を出力するかどうか
    encoding="utf-8",            # 文字コードの指定
    line_terminator="\n"      # 改行文字
)

データの確認

In [9]:
# head()で先頭5行表示
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [10]:
# head(n)で先頭n行表示
df.head(1)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa

In [11]:
# tail()メソッドで末尾からも表示もできる
df.tail(3)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [12]:
# カラム名を取得
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [13]:
# インデックス名を取得
# 行列のインデックスを指定する
df.index

RangeIndex(start=0, stop=150, step=1)

・行列・列数の確認

In [14]:
# 列数の確認
len(df.columns)

5

In [15]:
# 行数の確認
len(df.index)

150

# ・基礎統計の確認

In [16]:
# describe()で基礎統計量の確認
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

# ・名称の書き換え

In [17]:
# インデックスを同じ長さの上書き
# (カラムも同様の方法で上書きできる)
df.index = range(101, 251)
df.index

RangeIndex(start=101, stop=251, step=1)

# データの抽出(1)

・列名でSeriesとしてアクセス

In [18]:
# 特定の1列をSeries型で取得
df["SepalLength"].head()

101    5.1
102    4.9
103    4.7
104    4.6
105    5.0
Name: SepalLength, dtype: float64

# データの抽出(2)

・複数列名でDataFrameとしてアクセス

In [19]:
# 1 〜 n 列を DataFrame 型で取得
df[["SepalLength", "SepalWidth"]].head()

     SepalLength  SepalWidth
101          5.1         3.5
102          4.9         3.0
103          4.7         3.2
104          4.6         3.1
105          5.0         3.6

# データの抽出(3)

In [20]:
# ilocを使えば行番号・列番号、locを使えば行名・列名で指定できる
df.iloc[110:115,:].loc[:, ["SepalLength", "PetalLength"]]

     SepalLength  PetalLength
211          6.5          5.1
212          6.4          5.3
213          6.8          5.5
214          5.7          5.0
215          5.8          5.1

# データの抽出(4)

・[ブール値]による抽出

In [21]:
# 条件文でデータのフィルタリング
# df[ ブール値のリスト ]という形で指定する
df[df.SepalLength > 7.5]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
206          7.6         3.0          6.6         2.1  Iris-virginica
218          7.7         3.8          6.7         2.2  Iris-virginica
219          7.7         2.6          6.9         2.3  Iris-virginica
223          7.7         2.8          6.7         2.0  Iris-virginica
232          7.9         3.8          6.4         2.0  Iris-virginica
236          7.7         3.0          6.1         2.3  Iris-virginica

# データの抽出(5)

・queryメソッドによる抽出

In [22]:
# query メソッドを使うと列名をそのまま文字列で書ける
df.query("Name == 'Iris-virginica'").head()

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
201          6.3         3.3          6.0         2.5  Iris-virginica
202          5.8         2.7          5.1         1.9  Iris-virginica
203          7.1         3.0          5.9         2.1  Iris-virginica
204          6.3         2.9          5.6         1.8  Iris-virginica
205          6.5         3.0          5.8         2.2  Iris-virginica

# データの抽出(6)

・queryメソッドでは変数を埋め込むことができる

In [23]:
# query メソッドは @ で変数を埋め込むこともできる
name = "Iris-versicolor"
df.query("Name == @name").head()

     SepalLength  SepalWidth  PetalLength  PetalWidth             Name
151          7.0         3.2          4.7         1.4  Iris-versicolor
152          6.4         3.2          4.5         1.5  Iris-versicolor
153          6.9         3.1          4.9         1.5  Iris-versicolor
154          5.5         2.3          4.0         1.3  Iris-versicolor
155          6.5         2.8          4.6         1.5  Iris-versicolor

# データの抽出(7)

・queryメソッドではindexを指定することもできる

In [24]:
# indexを指定することもできる
df.query("index in [130, 131, 132]")

     SepalLength  SepalWidth  PetalLength  PetalWidth         Name
130          4.7         3.2          1.6         0.2  Iris-setosa
131          4.8         3.1          1.6         0.2  Iris-setosa
132          5.4         3.4          1.5         0.4  Iris-setosa

# データのソート(1)

・ある一つの列の値による並べ替え

In [25]:
# sort_valuesでデータをソートできる
df.sort_values(by=["SepalLength"]).head()

     SepalLength  SepalWidth  PetalLength  PetalWidth         Name
114          4.3         3.0          1.1         0.1  Iris-setosa
143          4.4         3.2          1.3         0.2  Iris-setosa
139          4.4         3.0          1.3         0.2  Iris-setosa
109          4.4         2.9          1.4         0.2  Iris-setosa
142          4.5         2.3          1.3         0.3  Iris-setosa

In [26]:
# 複数要素でソートできる
df.sort_values(by=["PetalLength", "PetalWidth"]).head()

     SepalLength  SepalWidth  PetalLength  PetalWidth         Name
123          4.6         3.6          1.0         0.2  Iris-setosa
114          4.3         3.0          1.1         0.1  Iris-setosa
115          5.8         4.0          1.2         0.2  Iris-setosa
136          5.0         3.2          1.2         0.2  Iris-setosa
103          4.7         3.2          1.3         0.2  Iris-setosa

・降順ソート

In [27]:
# 降順ソート
df.sort_values(by=["PetalLength", "PetalWidth"], ascending="False").head()

     SepalLength  SepalWidth  PetalLength  PetalWidth         Name
123          4.6         3.6          1.0         0.2  Iris-setosa
114          4.3         3.0          1.1         0.1  Iris-setosa
115          5.8         4.0          1.2         0.2  Iris-setosa
136          5.0         3.2          1.2         0.2  Iris-setosa
103          4.7         3.2          1.3         0.2  Iris-setosa

# データのソート(2)

・concatによる縦方向の単純結合

In [28]:
# 2つの Dataframeをconcatメソッドで縦方向に結合する
smoking1_df = pd.DataFrame(
    {
        "member":["A","B","C","D","E"],
        "is_smoking":[1, 1, 0, 0, 0]
    },
    columns =["member", "is_smoking"]
)

smoking2_df = pd.DataFrame(
    {
        "member":["F","G","H","I","J"],
        "is_smoking":[0, 1, 0, 0, 1]
    },
    columns =["member", "is_smoking"]
)

smoking_df = pd.concat([smoking1_df, smoking2_df])
smoking_df

  member  is_smoking
0      A           1
1      B           1
2      C           0
3      D           0
4      E           0
0      F           0
1      G           1
2      H           0
3      I           0
4      J           1

# データの結合(2)

・concatによる横方向の単純結合

In [29]:
# 2つのDataFrameを横方向に結合する(axis=1を指定)
smoking3_df = pd.DataFrame(
    {"gender": ["male", "female", "male","male","femele"],
    "age":[24,55,30,42,28]},
    columns=["gender", "age"]
)

smoking_df = pd.concat([smoking1_df, smoking3_df], axis=1)
smoking_df

  member  is_smoking  gender  age
0      A           1    male   24
1      B           1  female   55
2      C           0    male   30
3      D           0    male   42
4      E           0  femele   28

# データの結合(3)

 ・mergeによる内部結合

In [30]:
df1 = pd.DataFrame(
    {
        'A':['A0', 'A1', 'A2', 'A3'],
        'B':['B0', 'B1', 'B2', 'B3'],
        'C':['C0', 'C1', 'C2', 'C3'],
        'D':['D0', 'D1', 'D2', 'D3']
    },
    index=[0,1,2,3]
)

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [31]:
df2 = pd.DataFrame(
    {
        "B": ['B2', 'B3', 'B6', 'B7'],
        "F": ['F2', 'F3', 'F6', 'F7']
    },
    index=[2,3,6,7]
)

df2

    B   F
2  B2  F2
3  B3  F3
6  B6  F6
7  B7  F7

In [32]:
# B列をキーにしてINNER JOIN
inner_df = pd.merge(df1, df2, on=["B"], how="inner")
inner_df

    A   B   C   D   F
0  A2  B2  C2  D2  F2
1  A3  B3  C3  D3  F3

In [33]:
# id をキーにして LEFT JOIN
# 値がないところはNaNになる
left_df = pd.merge(df1, df2, on=["B"], how="left")
left_df

    A   B   C   D    F
0  A0  B0  C0  D0  NaN
1  A1  B1  C1  D1  NaN
2  A2  B2  C2  D2   F2
3  A3  B3  C3  D3   F3

# データの集約処理(1)

・基本的な集計

In [35]:
iris_df = pd.read_csv("03_iris.csv")
# 平均 .mean()
iris_df.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [36]:
# 中央値 .median()
iris_df.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [37]:
# 分散 .var()
iris_df.var()

SepalLength    0.685694
SepalWidth     0.188004
PetalLength    3.113179
PetalWidth     0.582414
dtype: float64

In [38]:
# 標準偏差 .std()
iris_df.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [39]:
# 合計 .sum()
iris_df.sum()

SepalLength                                                876.5
SepalWidth                                                 458.1
PetalLength                                                563.8
PetalWidth                                                 179.8
Name           Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [40]:
# カウント .count()
iris_df.count()

SepalLength    150
SepalWidth     150
PetalLength    150
PetalWidth     150
Name           150
dtype: int64

# データの集約処理(2)

・groupbyによる集計

In [41]:
# グループ別にカウント
iris_df.groupby("Name").count()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa               50          50           50          50
Iris-versicolor           50          50           50          50
Iris-virginica            50          50           50          50

# データの集約処理(3)
・クロス集計(データの縦持ち・横持ち変換)

In [43]:
# クロス集計のためのデータ作成
# インデックスを3で割った余りで分類(0〜2)
iris_df["idx"] = iris_df.index % 3
iris_df.head(7)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name  idx
0          5.1         3.5          1.4         0.2  Iris-setosa    0
1          4.9         3.0          1.4         0.2  Iris-setosa    1
2          4.7         3.2          1.3         0.2  Iris-setosa    2
3          4.6         3.1          1.5         0.2  Iris-setosa    0
4          5.0         3.6          1.4         0.2  Iris-setosa    1
5          5.4         3.9          1.7         0.4  Iris-setosa    2
6          4.6         3.4          1.4         0.3  Iris-setosa    0

In [44]:
iris_df.pivot_table(
    ["SepalLength", "SepalWidth"], # 集計する変数の指定
    aggfunc="mean", # 集計の仕方の指定
    fill_value=0, # 該当する値がない場合の埋め値の指定
    index="idx", # 行方向に残す変数の指定
    columns="Name" #列方向に展開する変数の指定
)

     SepalLength                                 SepalWidth                  \
Name Iris-setosa Iris-versicolor Iris-virginica Iris-setosa Iris-versicolor
idx
0       5.052941        5.770588       6.756250    3.470588        2.676471
1       5.011765        6.018750       6.447059    3.417647        2.906250
2       4.950000        6.023529       6.570588    3.362500        2.735294


Name Iris-virginica
idx
0          2.981250
1          3.023529
2          2.917647

# その他よく使う操作
・ユニーク化

In [47]:
# ユニークにする
no_dup_df = iris_df.drop_duplicates()
print("そのまま", len(iris_df))
print("重複なし", len(no_dup_df))

そのまま 150
重複なし 149

・Nanを補完

In [48]:
# NaNを補完
left_df.fillna("Fill")

    A   B   C   D     F
0  A0  B0  C0  D0  Fill
1  A1  B1  C1  D1  Fill
2  A2  B2  C2  D2    F2
3  A3  B3  C3  D3    F3

・NaNを削除

In [ ]:
# NaNが含まれている行を削除