# Series・DataFreameの作成(1)

In [2]:
# Pandasの読み込み
import pandas as pd
# Seriesの作成（リストから）
l = [1,2,3,4,5]
s = pd.Series(l)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Series・DataFreameの作成(2)

In [5]:
# DataFrameの作成（2個のリストから）
m = [
    [1, "yamada", "taro", "man"],
    [2, "yamada", "hanako", "woman"],
    [3, "suzuki", "ichiro", "man"],
    [4, "suzuki", "jiro", "man"],
    [5, "suzuki", "saburo", "man"]
]
names = ["id", "family_name","first_name","gender"]
# columns引数でカラム名を指定できる
name_df = pd.DataFrame(m, columns=names)
name_df

   id family_name first_name gender
0   1      yamada       taro    man
1   2      yamada     hanako  woman
2   3      suzuki     ichiro    man
3   4      suzuki       jiro    man
4   5      suzuki     saburo    man

変なカンマを入れると、カーネルが落ちる＞＜
m = [...],
最後にカンマをいれたら落ちた＞＜

# Series・DataFreameの作成(3)

In [9]:
# DataFrameの作成（ディクショナリから）
d = {
    "id":[1,2,3,4,5],
    "is_smoking":[True, False, True, False, True],
    "gender":["m", "m","m","f","f"]
}

names = ["id", "is_smoking", "gender"]
# columns引数で、カラムの順番を指定できる
# 指定しないと順番は保証されない
smoking_df = pd.DataFrame(d, columns=names)
smoking_df

   id  is_smoking gender
0   1        True      m
1   2       False      m
2   3        True      m
3   4       False      f
4   5        True      f