## 3.1.1. Numbers

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5 # division always returns a floating point number

1.6

In [5]:
17 / 3 # classic dibision returns a float

5.666666666666667

In [6]:
17 // 3 # floor division discards the fractional part

5

In [7]:
17 % 3 # the % operator returns the remainder of the division

2

In [8]:
5 * 3 + 2 # result * divisor + remainder

17

In [9]:
5 ** 2 # 5 squared

25

In [10]:
2 ** 7 # 2 to the power of 7

128

In [11]:
width = 20

In [12]:
height = 5 * 9

In [13]:
width * height

900

In [14]:
n # try to access an undefined variable

NameError: name 'n' is not defined

In [15]:
4 * 3.75 - 1

14.0

In [16]:
tax = 12.5 / 100

In [17]:
price = 100.50

In [18]:
price * tax

12.5625

In [19]:
price + _

113.0625

In [20]:
round(_, 2)

113.06

## 3.1.2. Strings

In [1]:
'spam eggs' # single qutotes

'spam eggs'

In [3]:
'doesn\'t' # use \' to escapce single quote...

"doesn't"

In [4]:
"doesn't" # ...or use double quotes instead

"doesn't"

In [5]:
'"Yes, " they said.'

'"Yes, " they said.'

In [6]:
"\"Yes,\" they said. "

'"Yes," they said. '

In [7]:
'"Isn\'t, " they said.'

'"Isn\'t, " they said.'

In [8]:
print('"Isn\'t, " they said.')

"Isn't, " they said.

In [9]:
s = 'FIrst line.\nSecond line' #n means newline

In [10]:
print(s)

FIrst line.
Second line

In [11]:
print('C:\some\name') # hear \n means newline!

C:\some
ame

In [12]:
print(r'C:\some\name') # note the r before the quote

C:\some\name

In [14]:
print("""\
Usage: thingy [OPTIONS]
    -h                           Display this usage message
    -H hostname                  Hostname to connecto to
""")

Usage: thingy [OPTIONS]
    -h                           Display this usage message
    -H hostname                  Hostname to connecto to

In [1]:
3 * 'un' + 'ium'

'unununium'

In [2]:
'Py' 'thon'

'Python'

In [3]:
text = ('Put several strings within parentheses '
        'to have them joined together')

In [4]:
text

'Put several strings within parentheses to have them joined together'

In [5]:
prefix = 'Py'

In [6]:
prefix 'tyon' # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-6-3a9dd79d0ce1>, line 1)

In [7]:
prefix + 'thon'

'Python'

In [8]:
word = 'Python'

In [9]:
word[0] # character in position 0

'P'

In [10]:
word[5] # character in position 5

'n'

In [11]:
word[-1] # last character

'n'

In [12]:
word[-2] # second-last character

'o'

In [14]:
word[-6]

'P'

In [15]:
word[0:2] # characters from position 0(included) to 2 (excluded)

'Py'

In [17]:
word[2:5] # characters from position 2(included) to 5 (excluded)

'tho'

In [18]:
word[:2] + word[2:]

'Python'

In [19]:
word[:4] + word[4:]

'Python'

In [20]:
word[:2] # character from the beginning to position 2(excluded)

'Py'

In [21]:
word[:4] # characters from position 4(included) to the end

'Pyth'

In [23]:
word[-2:] # characters from the second-last(included) to the end

'on'

In [24]:
word[42] # the word only has 6 characters

IndexError: string index out of range

In [25]:
word[4:42]

'on'

In [26]:
word[42:]

''

In [27]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [28]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [29]:
'J' + word[1:]

'Jython'

In [30]:
word[:2] + 'py'

'Pypy'

In [33]:
s = 'supercalifragilisticexpialidocious'

In [34]:
len(s)

34

## 3.1.3. Lists

In [1]:
squares = [1, 4, 9 ,16, 25]

In [2]:
squares

[1, 4, 9, 16, 25]

In [3]:
squares[0] # indexing returns the item

1

In [4]:
squares[-1]

25

In [5]:
squares[-3:] # slicing returns a new list

[9, 16, 25]

In [6]:
squares[:]

[1, 4, 9, 16, 25]

In [7]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
cubes = [1, 8, 27, 65, 125] # something's wrong here

In [10]:
4 ** 3 # the cube of 4 is 64, not 65!

64

In [13]:
cubes[3] = 64 # replace the wrong value

In [14]:
cubes

[1, 8, 27, 64, 125]

In [15]:
cubes.append(216) # add the cube of 6

In [16]:
cubes.append(7 ** 3) # and the cube of 7

In [17]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [18]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [19]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [20]:
# replace some values

In [21]:
letters[2:5] = ['C', 'D', 'E']

In [22]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [23]:
# now remove them

In [24]:
letters[2:5] = []

In [25]:
letters

['a', 'b', 'f', 'g']

In [26]:
# clear the list by replaceing all the elements with an empty list

In [31]:
# letters[:] = []
letters = []

In [29]:
letters

[]

In [32]:
letters = ['a', 'b', 'c', 'd']

In [33]:
len(letters)

4

In [34]:
a = ['a', 'b', 'c']

In [35]:
n = [1, 2, 3]

In [36]:
x = [a, n]

In [37]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [38]:
x[0]

['a', 'b', 'c']

In [39]:
x[1]

[1, 2, 3]

## 3.2. First Steps Towrds Programming

In [40]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1

In [41]:
while a < 10:
    print(a)
    a, b = b,  a+b

0
1
1
2
3
5
8

In [42]:
i = 256*256

In [43]:
print('The value of i is', i)

The value of i is 65536

In [44]:
a, b = 0, 1

In [45]:
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# 4. More Control Flow Tools

## 4.1. if Statements

In [48]:
x = int(input("Please enter an integer: "))

Please enter an integer: -1

In [49]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Negative changed to zero

## 4.2. for Statements

In [51]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']

In [52]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [53]:
for w in words[:]: # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w)

In [54]:
words

['defenestrate', 'cat', 'window', 'defenestrate']

## 4.3. The range() Function

In [55]:
for i in range(5):
    print(i)

0
1
2
3
4

In [59]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [60]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [61]:
for i in range(-10, -100, -30):
    print(i)

-10
-40
-70

In [62]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

In [63]:
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [65]:
for i, v in enumerate(a):
    print(i, v)

0 Mary
1 had
2 a
3 little
4 lamb

In [66]:
print(range(10))

range(0, 10)

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 4.4. break and continue Statements, and else Clauses on Loops

In [70]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals' , x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [72]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

## 4.5. pass Statements

In [ ]:
while True:
    pass # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass # Remember to implement this!