In [1]:
import pandas as pd
s = pd.read_csv("01_100values.csv", header=None, squeeze=True)

print("平均値", s.mean())

平均値 107.48

In [2]:
print("中央値", s.median())

中央値 109.5

In [3]:
iris_df = pd.read_csv("03_iris.csv")
iris_df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [4]:
iris_df.groupby("Name").var()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa         0.124249    0.145180     0.030106    0.011494
Iris-versicolor     0.266433    0.098469     0.220816    0.039106
Iris-virginica      0.404343    0.104004     0.304588    0.075433

In [5]:
iris_df.groupby("Name").std()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa         0.352490    0.381024     0.173511    0.107210
Iris-versicolor     0.516171    0.313798     0.469911    0.197753
Iris-virginica      0.635880    0.322497     0.551895    0.274650

In [28]:
import pandas as pd
iris_df = pd.read_csv("03_iris.csv")

from scipy import stats

setosa_petal_width = iris_df[iris_df.Name == "Iris-setosa"].PetalWidth
virginica_petal_width = iris_df[iris_df.Name == "Iris-virginica"].PetalWidth

t,p = stats.ttest_ind(setosa_petal_width, virginica_petal_width, equal_var=False)

print("t:", t)
print("p:", p)

if p < 0.05:
    print("有意な差があります")
else:
    print("有意な差がありません")

t: -42.73822967241116
p: 1.4667494246530803e-48
有意な差があります